// Contact Us Section
section#contact-us.section-block.scale-in

  #contact-pattern
 
  // Heading
  h2#contact-heading.hidden-xs.hidden-sm
    span.main-font.bold G
    | et in touch
  // / Heading


  // Contact Form
  form#contact-form(action='mail.php')
    #form-inputs
      #form-heading.hidden-xs.hidden-sm Send us a message
      .form-row
        .form-group.col-md-6.col-xs-12.col-sm-12
          label(for="username") Name
          input#username(type='text', name='name', required='required')
        .form-group.col-md-6.col-xs-12.col-sm-12
          label(for="email-address") Email Address
          input#email-address(type='email', name='email', required='required')
      .form-row
        .form-group.col-md-6
          label(for="mobile-phone") Phone
          input#mobile-phone(type='text', name='mobile', required='required')
        .form-group.col-md-6 
          label(for="company") company
          input#company(type="text" name="company" , required="required")
      .form-row.pad-r-60.col-xs-12.col-sm-12
        label(for="message") Message
        textarea#message(name='message', required='required')
      .form-row
        button#contact-btn Send Message
    
    
    
    
    
    // Contact Info
    #contact-info.hidden-xs.hidden-sm
      h3#contact-info-heading.heading Contact Information
      br
      br
      br
      #contact-details
        i.fa.fa-location-arrow(aria-hidden="true")
        a#show-location First settlement, Cairo, Egypt
        br
        br
        i.fa.fa-phone(aria-hidden="true")
        a(href="tel:+2 012 00 880 480")|+2 012 00 880 480
        br
        br
        i.fa.fa-share(aria-hidden="true")
        a(href="mailto:info@crafted-internet.com")|info@crafted-internet.com
    // / Contact Info
  // / Contact Form

  figure#contact-map
    button#hide-map
      i.fa.fa-window-close.fa-lg(aria-hidden="true")
    div#map
  .clearfix
  include ../commons/footer.pug
  
// / Contact Us Section
