// Office Section
section#office.section-block.scale-out.active-section
  //office logo
  img#office-logo(src= require('../../images/logo.png') alt='Crafted')
  
  //light area
  #lights
    img#left-light-first.light(src= require('../../images/lighted.png') alt='')
    img#left-light-second.light(src= require('../../images/lighted.png') alt='')
    img#right-light.light(src= require('../../images/lighted.png') alt='')
  /// light area


  // Office Content
  #office-content
    //haytham
    #haytham
    a#phone.header-link(href='/contact-us', data-navigo title='Contact Us')
    a#partners-portrait.header-link(href='/partners',  data-navigo title='Our Partners')
    #haytham-bubble()
      .heading Hello!
      .text
        | Welcome to 
        br
        |  our office
    /// haytham


    //creative director   
    #creative-director
      a.image.header-link(href='/service/designing', data-navigo)
      .bubble-container
        .bubble
        .bubble-text
          | I'm the 
          span.title.bold creative director
          | .
          br
          |  I can show you some of the cool stuff we an do for you..
    /// creative director
    
    
    //project manager
    #project-manager
      a.image.header-link(href='/service/digital-marketing' , data-navigo)
      .bubble-container
        .bubble
        .bubble-text
          | Hello! I'm the 
          span.title digital marketing manager
          | . 
          br
          |  Wanna know more about our services ?
    #project-manager-ideas
    /// Project Manager
    
    
    //backend developer
    #developer-back-with-chair
      a.image.header-link(href='/service/development' , data-navigo)
      .bubble-container
        .bubble
        .bubble-text
          | I'm the 
          span.title development manager
          | .
          br
          |  Wanna learn about the technologies we use !?
    /// backend Developer
    
    //marketeer
    #marketeer
      a.image.header-link(href='/service/strategy' , data-navigo)
      .bubble-container
        .bubble
        .bubble-text
          | I set strategies here, let me show you how we can enhance your goals. 
          span.title.bold Lets Strategize
          | .
    ///Marketeer


    #plant
  // / Office Content


// / Office Section
