@import '~compass-mixins/lib/compass/css3';
@import '~compass-mixins/lib/compass/utilities';


$breakpoints : (
    xs : 520px ,
    md: 768px ,
    lg : 991px ,
    xl : 1200px,
    2k: 1450px
);

$verticalBreakPoints : (
    minilab-stop : 700px ,
    desktop-start : 768px , 
    desktop-stop : 900px ,
    lg-desktop-start : 901px,
);




//fonts 
@font-face {
    font-family: Vonique;
    src: url(../fonts/Vonique.otf);
}

@font-face {
    font-family: futura;
    src: url(../fonts/futura.ttf);
}
@font-face {
    font-family: opensansbold  ;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

$primary-font : Vonique ;
$secondary-font : futura ;
$roboto : 'Roboto', sans-serif;
$sans : opensansbold;



//weights 
$normal : 400 ;
$medium : 500 ;
$semi-bold : 600 ;
$bold : 700 ;
$bolder : 800 ;



//colors 
$black : #000000 ;
$white : #FFFFFF ;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


html {
    font-size: 62.5%;
}


body {
    background: #000;
    overflow-y: hidden;
    overflow-x: hidden ;
    font-family: $secondary-font;
    font-size: 14px;
    font-size: 1.4rem;
}