.service-btn {
    width: rem(20);
    height: rem(4);
    line-height: rem(4);
    border: 1px solid ;
    @include border-radius(2px);
    text-align: center ;
    color: $white;
    font: {
        size : converter(1.8 , rem , perc);
        weight : $semi-bold ;
        family : $secondary-font
    }
    text-transform: capitalize ;
}


%reset-button {
    border: none ;
    outline: none ;
    background: transparent ;
    &:hover ,
    &::active {
        border: none ;
        outline: none ;
    }
}