.main-font {
    font-family: futura;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.heading {
    font-family: Vonique;
}

.pad-r-30 {
    padding-right: 30px;
}

.colored {
    color: #BA6708;
}
.clearfix {
    clear: both;
}

.bold {
    font-weight: bold;
}
.half-width {
    float: left;
    width: 50%;
}

.three-columns {
    float: left;
    width: 33.3333333%;
}

::-moz-selection { /* Code for Firefox */
    color: #FFF;
    background: #BA6708;
}

::selection {
    color: #FFF;
    background: #BA6708;
}
