footer {
    bottom: 0 ;
    padding: 10px 30px;
    overflow: hidden;
    @include vertical-res(minilab-stop , max){
        padding: 0 15px !important ;
    }
}

footer .column-heading {
    color: #ccc;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

footer .column-heading > span {
    border-bottom: 1px solid #BA6708;
    @include vertical-res(minilab-stop , max){
        font-size: 16px ;   
    }
}

footer .three-columns li {
    display: block;
    padding-left: 10px;
}

footer .three-columns li a {
    color: #999;
    display: block;
    text-align: center;
    @include vertical-res(minilab-stop , max){   
        font-size: 12px ;
    }
}

#copyrights {
    color: #eee;
    padding-top: 20px;
    position: absolute;
    bottom: 5px;
}

#social-links {
    text-align: center;
    margin-top: .8rem;
}

#social-links a {
    display: inline-block;
    margin-right: .275rem;
    margin-left: .275rem;
}

#social-links img {
    width: 20px;
}