$header--a-linkColor : #959595 ; 
$sm-background: fade-out($black, 0.3);
$header-background : rgba(32, 28, 28, 0.6); 

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: $header-background ;
    padding: 15px;
    z-index: 200; // display: none;


    #header-brand-wrapper {
        display: inline-block;
        width: 15%;
        #header-brand {
            max-width: 100%;
            height: auto;
        }
    }

    
    #return-home {
        display: none ;
        float: left;
        list-style: none;
        position: relative;
        margin-top: rem(-0.5);
        a {
            color: $white ;
            cursor: pointer;
        }
    }
    nav {
        padding-top: 2rem;

        @include vertical-res(desktop-start , min){
            padding: 10px ;
            padding-top: 2.5rem ; 
        }
        @include vertical-res(minilab-stop , max){
            padding: 8px ;
            padding-top: 10px ;
        }
        float: right;
        li.header-link {
            float: left;
            margin-right: 20px;
            list-style: none;
            position: relative;
            @include vertical-res(desktop-start , min){
                margin-right: 22px ;
            }
            @include vertical-res(minilab-stop , max){
                margin-right: 16px ;
            }
            a.x {
                display: block;
                color: #959595;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 100;
                font-family: Vonique;
                cursor: pointer ;
                @include vertical-res(desktop-start , min){
                    font-size: 1.7rem;
                }
                @include vertical-res(desktop-stop, min) {
                    font-size: 2rem;
                }
                @include vertical-res(minilab-stop , max){
                    font-size: 1.1rem ;
                }
                &::after {
                    content: '';
                    right: -10px;
                    position: absolute;
                    color: #959595;
                    top: -7px;
                    border-right: 1px solid #959595;
                    height: 30px;
                    width: 2px;
                } // - End After
            }//End OF a
            &:hover a.x,
            &.active-link a.x {
                color: #FFF;
                text-decoration: underline;
            }
            &:hover  a.x::after,
            &.active-link a.x::after {
                border-color: #959595;
            }

            &:last-child a.x::after {display: none}
        } //End Of LI
    }//End OF Nav

}

.header--li-dropdown-con {
    &.own-pull-left {
        margin-right: rem(9.7);
        margin-left : rem(3);
    }
}


.header--li-dropdown-con:hover {
    #services-trigger {
        text-decoration: none ;
    }

    .header--ul-dropdown-menu {
        display: block ;
        li {
            @for $i from 1 through 4 {
                &:nth-child(#{$i}){
                    animation: slide-menu 300ms linear (150ms * $i) forwards;
                }
            }
        }
    }
    
}





.header--ul-dropdown-menu {
    position: absolute ;
    padding-top: 15px ;
    top: 100% ;
    left: -10% ;
    width: 180px;
    z-index: 1 ;
    display: none ;
    overflow: auto ;
    @include border-bottom-radius(3px);
    li {
        opacity: 0 ;
        width: 100% ;
        padding : 18px 12px 12px 6px ;
        background : $header-background ;
        border-bottom: 0.5px solid fade-out(#eeeeee , 0.8);
        @include transition(all 0.5s ease);
        &:last-child {
            border: none ; 
        }

        a {
            color: $header--a-linkColor ;
            text-transform: capitalize ;
            font : {
                family : Vonique ;
                size : 12px ;
                weight : $semi-bold ;
            }
        }// Anchor Ending

        &:hover {
            background : $white;
            cursor: pointer;
            padding-left: 15px ;
            a {
                text-decoration: none ;
            } 
        }/** Hover Ending */
    }
}

@keyframes slide-menu{
    0% {
        margin-right: 250px ;
        opacity: 0 ;
        @include transform(rotateX(90deg));
    }
    100% {
        margin-right: 0px;
        opacity: 1 ;
        @include transform(rotateX(0deg));
    }
}
