#fixed-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index:  11000;
    img {
        opacity: 0;
        width: 600px;
        max-width: 100%;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        @include transition(all 2s linear);
    }

    &.show img {
        opacity: 1;
    }
    
}


#preloader {
    position: fixed;
    background: $black;
    z-index: 10000 ;
    top: 0 ; 
    left:  0 ;
    width: 100vw ;
    height: 100vh;
    @include transition(all 1s linear);

    &.hide {
        opacity: 0;
    }
}