#about {
    background : $black ;
}

#about #about-us-logo {
    background: #FFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

#about #about-us-logo:after {
    content: '';
    position: absolute;
    top: 15%;
    left: calc(50% - 3px);
    background: linear-gradient(#ECB650, #DC7A50 50%, #ECB650);
    height: 70%;
    width: 6px;

}

#about-us-pattern {
    position: absolute;
    top: 0;
    left: 0;
}

#about-us-pattern img {
    width: 500px;
    @include vertical-res(desktop-start , min){
        width: 600px ;
    }
}

#about #about-us-logo img {
    width: 500px;
    @include vertical-res(desktop-start , min){
        width: 600px ;
    }

}

#about #about-us-logo h2 {
    text-align: center ;
    margin-top: 35% ;
    font-family: Vonique ;
}

#about #about-us-text {
    display: block ;
    color: white ;
    padding: 40px;
    padding-top: 15% ;
    overflow: auto;
    @include vertical-res(desktop-start , min){
        height: 100% ;
    }


}

#about #about-us-text .heading {
    color: #FFF;
    font-size: 36px;
    font-weight: 500;
    @include vertical-res(desktop-start , min){
        font-size: 45px ;
    }

    @include vertical-res(minilab-stop , max){
        font-size: 24px ;
    }
}

#about #about-us-text p {
    color: #EEE;
    width: 90%;
    line-height: 1.5;
    @include vertical-res(desktop-start , min){
        font-size: 20px ;
    }
    @include vertical-res(minilab-stop , max){
        font-size: 12px ;
    }
}

/** About Us Section */
