$after-color : linear-gradient(#ECB650, #DC7A50 50%, #ECB650) ;


#contact-us {
    background: black ;
}

#contact-heading {
    color: #FFF;
    background: #000 url(../images/about-pattern.png) top left no-repeat;
    background-size: 500px;
    padding: 30px 50px 10px;
    text-align: center;
    font-weight: 500;
    font-family: Vonique;
    font-size: 36px;
    @include vertical-res(desktop-start , min){
        font-size: 40px ;
    }
    @include vertical-res(minilab-stop , max){
        font-size: 30px ;
    }
    
}

#contact-form {
    background: $white ;
    overflow: hidden;
    padding: 6px 30px 10px;
    z-index: 1 ;
    @include vertical-res(desktop-start , min){
        padding: 30px 30px ;
    }
    @include vertical-res(minilab-stop ,max){
        padding: 5px 30px 5px ;
    }
}

#form-inputs {
    float: left;
    width: 70%;
    position: relative;
}

#form-inputs:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 5px;
    height: 100%;
    background: $after-color;
}

#form-heading {
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    display: inline-block;
    margin-top: 10px;
    @include vertical-res(desktop-start , min){
        font-size: 32px ;
        font-weight: $semi-bold ;
        margin-bottom: 25px ;
    }
    @include vertical-res(minilab-stop , max){
        font-size: 20px ;
        margin-bottom: 10px ;
    }
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-bottom: 1px solid #777;
    @include vertical-res(minilab-stop , max){
        padding: 2px 5px ;
    }
}

#contact-form textarea {
    height: 45px;
    @include vertical-res(desktop-start , min){
        height : 50px ;
    }
    @include vertical-res(minilab-stop , max){
        height: 40px ;
    }
}

.form-row {
    margin-bottom: 20px;
    overflow: hidden;
    padding-right: 15%;
    @include vertical-res(minilab-stop , max){
        margin-bottom: 8px ;
    }
}

.form-row .half-width:first-child {
    padding-right: 15%;
}

#contact-btn {
    float: right;
    padding: 4px 8px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    @include border-radius(6px);
    @include vertical-res(desktop-start , min){
        margin-top: 10px ;
        padding: 6px 10px ;
        font-size: 15px ; 
    }
    @include vertical-res(minilab-stop , max){
        padding: 2px 4px ;
        font-size: 10px ;   
    }

}

#contact-btn:hover {
    background: #BA6708;
    color: #FFF;
    border-color: #BA6708;
}

#contact-info {
    padding: 30px 60px;
    float: left;
    width: 30%;
    padding-top: 20px;
}

#contact-info-heading {
    border-bottom: 1px solid #000;
    display: inline-block;
    font-family: futura;
    padding-bottom: 1px;
    font-size: 26px;
    font-weight: 300;
    @include vertical-res(desktop-start , min){
        font-size: 32px ;
        font-weight: $semi-bold ;
    }
    @include vertical-res(minilab-stop , max){
        font-size: 20px ;   
    }
}

#contact-details {
    i {
        color: #ECB650 ;
        margin-right: 10px ;
    }
    font-weight: $medium;
    font-size: 18px ;
    a {color: $black ; cursor: pointer }
    
    @include vertical-res(desktop-start , min){
        font-size: 20px ;
    }
    @include vertical-res(minilab-stop , max){
        font-size: 14px ;   
    }
}

#contact-map {
    height: rem(35);
    width: rem(45);
    background : transparent;    
    position: absolute ;
    top: 21% ;
    right: rem(-45);
    border: 3px solid #DC7A50;
    @include border-radius(4px);
    @include transition(all 0.5s ease);
    &.slide-left {
        right: rem(4);
    }
    #hide-map {
        @extend %reset-button ;
        border: none ;
        position: absolute ;
        top: 0 ;
        left: .2rem ;
        z-index: 6000;
        i{
            color: #DC7A50 ;            
        }
    }

    #map {
        height: 100%;
        width: 100%;
        

    }
        
    &::before {
        content: '';
        position: absolute ;
        background : linear-gradient(#ECB650, #DC7A50 50%, #ECB650);
        top: 50% ;
        right: -10% ;
        width: rem(6);
        height: rem(0.5);
    }
}

@import '../commons/_footer.scss';