.bubble-container {
    position: relative;
    width: 170px;
    height: 170px;
    text-align: center;
    font-weight: bold;
    display: none;
    @include vertical-res(desktop-start, min) {
        width: 200px;
        height: 200px;
    }
    @include vertical-res(minilab-stop, max) {
        width: 130px;
        height: 130px;
    }
}

.title {
    color: #BA6708;
}

#office-content div:hover .bubble-container {
    display: block;
}

.bubble {
    background: url(../images/bubble.png);
    width: 170px;
    height: 170px;
    position: absolute;
    @include background-size(cover);
    @include vertical-res(desktop-start, 'min') {
        width: 200px;
        height: 200px;
    }
    @include vertical-res(minilab-stop, max) {
        width: 130px;
        height: 130px
    }
}

.bubble-text {
    width: 60%;
    margin: auto;
    font-size: 13px;
    padding-top: 20px;
    margin-left: 19%;
    position: absolute;
    @include vertical-res(desktop-start, min) {
        font-size: 16px;
    }
    @include vertical-res(minilab-stop, max) {
        font-size: 10px;
        padding-top: calc(4% + 5px);
        width: 70%;
        margin-left: 15%;
    }
}

#office {
    background: url(../images/background.png);
    background-size: 100% 100%;
}

#office-logo {
    position: absolute;
    width: 30%;
    top: 6%;
    left: 35%;
    // @include vertical-res(desktop-start, min) {
    //     width: 30%;
    //     left: 32.5%
    // }
    // @include vertical-res(desktop-stop, min) {
    //     width: 40%;
    //     left: 30%
    // }
    // @include vertical-res(minilab-stop, max) {
    //     width: 20%;
    //     left: 40%;
    // }
}

#office-content {
    position: relative;
    width: 100%;
    height: 100%;
}

#haytham {
    position: absolute;
    bottom: 61px;
    background: url(../images/haytham.png);
    width: 13%;
    height: 47.5%;
    background-size: 100% 100%;
    right: 24%;
    z-index: 3;
    @include vertical-res(desktop-start, min) {
        bottom: 9%;
    }
    @include vertical-res(minilab-stop, max) {
        bottom: 9%;
    }
}

#partners-portrait {
    position: absolute;
    bottom: 290px;
    background: url(../images/partners.png);
    width: 14%;
    height: 32%;
    background-size: 100% 100%;
    right: 22%;
    z-index: 2;
    transition: all 0.5s ease;
    @include vertical-res(desktop-start, min) {
        bottom: 42%;
    }
    @include vertical-res(minilab-stop, max) {
        bottom: 42%;
    }
}

#partners-portrait:hover {
    @include transform(scale(1.3));
}

#haytham-bubble {
    position: absolute;
    bottom: 200px;
    background: url(../images/haytham-bubble.png);
    width: 230px;
    height: 200px;
    background-size: 100% 100%;
    right: 30%;
    z-index: 2;
    padding: 45px 0 0 70px;
    @include vertical-res(desktop-start, min) {
        right: 33%;
    }
    @include vertical-res(minilab-stop, max) {
        width: 200px;
        height: 170px;
    }
}

#haytham-bubble .heading {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: -5px;
    padding: 0;
    letter-spacing: 1px;
    @include vertical-res(desktop-start, min) {
        font-size: 36px;
    }
    @include vertical-res(minilab-stop, max) {
        font-size: 24px;
        font-weight: $semi-bold;
    }
}

#haytham-bubble .text {
    font-family: futura;
    margin-left: 10px;
    font-weight: 700;
    @include vertical-res(desktop-start, min) {
        font-size: 16px;
    }
}

#creative-director {
    position: absolute;
    right: 46%;
    bottom: 65px;
    width: 11%;
    height: 37%;
    background-size: 100% 100%;
    @include vertical-res(desktop-start, min) {
        bottom: calc(10% - 6px);
    }
    @include vertical-res(minilab-stop, max) {
        bottom: calc(10% - 5px)
    }
}

#creative-director .image {
    background: url(../images/creative-director.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

#creative-director:hover {
    bottom: 14px;
    height: 45%;
    width: 14%;
    @include vertical-res(minilab-stop, max) {
        bottom: calc(3% - 7px)
    }
}

#creative-director:hover .image {
    background: url(../images/creative-director-front.png);
    background-size: 100% 100%;
    left: 9%;
}

#creative-director .bubble-container {
    margin-left: 151px;
    margin-top: -11px;
    @include vertical-res(desktop-start, min) {
        margin-left: 80%;
        margin-top: -15px;
    }
    @include vertical-res(minilab-stop, max) {
        margin-left: 80%;
    }
}

#creative-director .bubble-text {
    padding-top: 30px;
    /* HIGH-RES */
    @include vertical-res(desktop-start, min) {
        padding-top: calc(30px + 5%);
    }

    /* LAPTOPS */
    @include vertical-res(minilab-stop, max) {
        width: 75%;
        margin-left: 13%;
    }
}

#creative-director .bubble {
    transform: rotate(50deg);
}

#project-manager {
    position: absolute;
    bottom: 64px;
    width: 8%;
    height: 44%;
    left: 25%;
    @include vertical-res(desktop-start, 'min') {
        bottom: calc(10% - 6px)
    }
    @include vertical-res(minilab-stop, max) {
        bottom: calc(10% - 2px);
    }
}

#project-manager .image {
    background: url(../images/project-manager.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -8px;
    z-index: 3;
}

#project-manager .bubble-container {
    margin-left: 40px;
    margin-top: -35px;
    @include vertical-res(desktop-start, min) {
        margin-left: 48px;
        margin-top: -50px;
    }
    @include vertical-res(minilab-stop, max) {
        margin-left: 55px;
        margin-top: -25px;
    }
}

#project-manager .bubble-container .bubble {
    transform: rotate(30deg);
}

#project-manager .bubble-container .bubble-text {
    padding-top: 30px;
    @include vertical-res(desktop-start, 'min') {
        padding-top: calc(30px + 5%);
    }
    @include vertical-res(minilab-stop, max) {
        padding-top: 35px;
    }
}

#phone {
    position: absolute;
    bottom: 28%;
    background: url(../images/phone.png) no-repeat;
    width: 10%;
    height: 30%;
    background-size: 105%;
    left: 1%;
    z-index: 100;
}

#phone:hover {
    background: url(../images/phone-opened.png);
    background-size: 100% 100%;
    bottom: 28.5%;
    left: 0;
}

#developer-back-with-chair {
    $developer_bottom: 64px;
    position: absolute;
    bottom: $developer_bottom;
    width: 13%;
    height: 42%;
    background-size: 100% 100%;
    left: 11%;
    @include vertical-res(desktop-start, min) {
        bottom: calc(10% - 2px);
    }
    @include vertical-res(minilab-stop, max) {
        bottom: 10.1%;
    }
}

#developer-back-with-chair .image {
    background: url(../images/developer-back-with-chair.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -8px;
    z-index: 3; // @include transition(all 0.5s ease-in)
}

#developer-back-with-chair .bubble-container {
    margin-left: -68px;
    @include vertical-res(desktop-start, min) {
        margin-left: -74px;
    }
    @include vertical-res(minilab-stop, max) {
        margin-left: -45px;
        margin-top: 5px
    }
}

#developer-back-with-chair .bubble-container .bubble-text {
    @include vertical-res(desktop-start, min) {
        padding-top: 55px;
        width: 65%;
        margin-left: 18%;
        font-size: 14px;
    }
    @include vertical-res(minilab-stop, max) {
        padding-top: 35px;
    }
}

#developer-back-with-chair .bubble-container .bubble {
    transform: rotate(260deg);
}

#developer-back-with-chair:hover {
    width: 15%;
    @include vertical-res(desktop-start, min) {
        bottom: 11.5%
    }
    @include vertical-res(minilab-stop, max) {
        bottom: 11.1%
    }
}

#developer-back-with-chair:hover .image {
    background-image: url(../images/developer-front.png);
    background-repeat: no-repeat;
    background-size: 104% 105%;
    bottom: -10px;
    @include vertical-res(desktop-start, min) {
        bottom: -27px;
    }
    @include vertical-res(minilab-stop, max) {
        bottom: -20px;
    }
    /*    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
*/
}

#marketeer {
    $desktop-parent-height: 480px;
    $minilab-parent-height : 400px ;
    $minilab-child-height : pxtoperc(300px , $minilab-parent-height);
    $desktop-child-height : pxtoperc(370px , $desktop-parent-height);
    position: absolute;
    width: 13%;
    height: 440px;
    right: 8%;
    bottom: 35px;
    @include vertical-res(desktop-start, min) {
        height: 480px;
        bottom: calc(20px + 4.67%);
    }

    @include vertical-res(desktop-start, min) {
        height: 530px;
        bottom: calc(90px + 4.67%);
    }

    @include vertical-res(minilab-stop, max) {
        height: 350px;
        bottom: 10%;
    }
    .image {
        background: url(../images/marketeers.png) no-repeat;
        background-size: 100% 330px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        @include vertical-res(desktop-start, min) { 
            background-size: 100% $desktop-child-height ;
        }
        @include vertical-res(minilab-stop, max) {
            background-size: 100% $minilab-child-height;
        }
    }

    &:hover .image {
        background: url(../images/marketeer-front.png) no-repeat;
        background-position: 10px 85px;
        background-size: 130px 330px;
        @include vertical-res(desktop-start, min) {
            background-position: -5px 82px;
            background-size: 90% $desktop-child-height;
        }
        @include vertical-res(minilab-stop, max) {
            background-position: 0px 94px;
            background-size: 90% $minilab-child-height;
        }
    }
}

#marketeer:hover {
    @include vertical-res(desktop-start, min) {
        bottom: 38px;
    }
    @include vertical-res(minilab-stop, max) {
        bottom: 9.8%;
    }
}

#marketeer .bubble-container {
    margin-left: 78px;
    margin-top: 70px;
    @include vertical-res(desktop-start, min) {
        margin-top: 10px;
        margin-left: 80px;
    }
}

#marketeer .bubble-text {
    padding-top: 30px;
    padding-left: 10px;
    @include vertical-res(desktop-start, 'min') {
        padding-top: 35px;
        width: 70%;
        margin-left: 15%;
    }
}

#marketeer .bubble-container .bubble {
    transform: rotate(46deg);
}

#project-manager-ideas {
    position: absolute;
    bottom: 322px;
    background: url(../images/ideas.png);
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    left: 320px;
    display: none;
}

#plant {
    position: absolute;
    bottom: 58px;
    background: url('../images/plant-1.png');
    background-size: 100% 100%;
    width: 8%;
    height: 120px;
    right: 0px;
    @include vertical-res(desktop-start,
    min) {
        bottom: 60px;
        height: 140px;
    }
    @include vertical-res(minilab-stop,
    max) {
        bottom: 7.6%;
    }
}

#plant:hover {
    background-image: url('../images/plant-2.png');
    width: 120px;
    height: 200px;
    right: 20px;
    bottom: 44px;
    @include vertical-res(desktop-start,
    min) {
        bottom: 50px;
        right: 30px;
        width: 8%;
    }
    @include vertical-res(minilab-stop,
    max) {
        bottom: 6%;
        right: 15px;
        height: 160px;
        width: 110px;
    }
}


/* Lights */

.light {
    position: absolute;
    top: 18%;
    width: 50px;
    height: 50px;
    z-index: 100000;
    opacity: 0;
    @include transition(all 0.5s ease);
    @include vertical-res(desktop-start,
    'min') {
        top: 18.4%;
    }
    @include vertical-res(minilab-stop,
    max) {
        width: 34px;
        height: 34px;
        top: 18.5%;
    }
}

.light:hover {
    opacity: 1;
}

#left-light-first {
    left: 11.2%;
    @include vertical-res(desktop-start,
    min) {
        left: calc(11% + 0.47%);
    }
    @include vertical-res(minilab-stop,
    max) {
        left: calc(11% + 0.5%)
    }
}

#left-light-second {
    left: 20.4%;
    @include vertical-res(desktop-start,
    'min') {
        left: calc(20.2% + 0.47%)
    }
    @include vertical-res(minilab-stop,
    max) {
        left: calc(20.4% + 0.31%)
    }
}

#right-light {
    right: 22.7%;
    @include vertical-res(desktop-start,
    min) {
        right: calc(22.7% + 0.12%)
    }
    @include vertical-res(minilab-stop,
    max) {
        right: calc(22.7% + 0.30%);
    }
}


/** Lights */