#partners {
    background: #FFF;
}

#partners #section-word {
    position: relative;
    color: #BDBDBD;
    background: #000;
    padding: 38px;
    padding-top: 110px;
    text-align: center;
    font-size: 38px;
    
    @include vertical-res(minilab-stop , max){
        font-size: 28px ;
        padding-top: 60px ;    
    }   
}

#partners #section-word:after {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: 35%;
    width: 30%;
    height: 5px;
    background: linear-gradient(#ECB650, #DC7A50 50%, #ECB650);
}

#partners #section-word .triangle {
    border-left: 500px solid #FFF;
    border-top: 700px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/about-pattern.png) top left no-repeat;
}

#partners-heading {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 0;
}


#partners-heading span {
    position: relative;
}

#partners-heading span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    top: calc(100% - 15px);
}

#partners-list {
    position: relative;
    display: block;
    text-align: center;
    z-index: 5000;
    margin-top: 5rem;

    .partners-list-upper {
        width: 613px;
        margin: 0 auto;
        @include vertical-res(desktop-start, min) {
            width: 768px;
        }
    }
    .partners-list-lower {
        width: 813px;
        margin: 0 auto;
        @include vertical-res(desktop-start, min) {
            width: 1000px;
        }
        .partner {
            margin-top: 10px !important;
        }
    }
   
}

#partners-pattern {
    position: absolute;
    z-index: 1000;
    width: 500px;
    left: 0;
    top: 0;
}

#partners-list .partner {
    display: inline-block;
    width: 110px !important;
    height: 110px !important;
    margin: 30px 3px 0 ;

    @include vertical-res(minilab-stop , max){
        height: 90px !important;
        width : 90px !important;
    }
}

#partners-list .partner img {
    width: 100%;
    height: 100%;
}