// Sections Container
#content(class=scope)
    #sections-container
        include ./sections.pug




script.

    var officeLocation = {
        lat: 30.056474,
        lng: 31.443920
    };

    
    function initMap () {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: officeLocation,
            zoom: 15,
            zoomControl: true,
            mapTypeControl: true
        });

        var marker = new google.maps.Marker({
          position: officeLocation,
          map: map
        });
    }
        


script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkDTw-95dKEoXk2ebW2hm4S7Q-rjWW_BM&callback=initMap")