doctype
html(lang="en-us")
    head
        include ./commons/head.pug
    body
        include ./commons/header.pug


        #root 

        .arrows-down-wrapper
            img(src=require("../images/arrow.png"), alt="go down arrow")

    
                 



