include ./partials/office.pug



// About Us Section
section#about.section-block.scale-in
  // Left Part
  #about-us-pattern
    img(src= require('../images/about-pattern.png') alt='Cratfted-Pattern')
  #about-us-logo.half-width
    img(src=require('../images/logo.png') alt='Crafted Internet')
    h2.heading.hidden-md.hidden-lg 
  // / Left Part
  
  // Right Part
  #about-us-text.half-width
    h2.heading.hidden-xs.hidden-sm About  US
    #about-us-content
      p
        | We are group of friends with different backgrounds, passionate about Internet market, love to build start ups that help people in their daily life and bring up ideas that make a difference
        br
        |We also love to share the experience we gained through our professional career, to support small business and help them to grow
        br
        |we offer different services that help our customers take their businesses to the next level. From setting strategies, and creating brands to development and digital marketing. Our goal is to craft their success.
  // / Right Part
// / About Us Section


// Partners Section
section#partners.section-block.scale-in
  img#partners-pattern(src= require('../images/about-pattern.png') alt='')
  // Section Word
  #section-word
    .triangle
    |         “Our customers, our partners.
    br
    | We help them 
    span.colored.bold craft
    |  their success”
  // / Section Word
  br
  // Partners list
  h3#partners-heading.heading
    span Our Partners
  #partners-list
    .partners-list-upper
      each partner, index in partners.data
        if index < 7
          if partner
            figure.partner
              if partner.logo
                a(href=partner.link, target="_blank")
                  img(src=partner.logo title=partner.name alt=partner.alt)
    .partners-list-lower(dir="rtl")
      each partner, index in partners.data
        if index >= 7
          if partner
            figure.partner
              if partner.logo
                a(href=partner.link, target="_blank")
                  img(src=partner.logo title=partner.name alt=partner.alt)

    // / Partners list
  // / Partners Section



include ./partials/contact.pug
