#content(class=scope)
    - var backgroundLayerDuration = "0.4s" ;
    - var vectorLayerDuration = "0.9s" ;
    - var textLayerDuration = "1.1s" ; 
    section.page-id.col-md-12
        .page-id-background(class=person)
        h1 #{pageHeader}
            img.img-responsive(src=require(`../images/services/${person}-header-icon.png`), alt="head logo")
    section.page-intro.col-md-12
        h2.col-md-12 #{pageMessage}

    
    section#features.col-md-12
        each feature, key in blocks
            - var classes = ['row' , 'col-md-12' , feature.class ,  'feature'];
            section#val(class=classes ,data-svg-color=secondColor)
                img.background-layer(src=require(`../images/services/${person}-${feature.class}.png`), alt="background-layer" , data-wow-duration=backgroundLayerDuration)
                case feature.class 
                    when 'right'
                        svg#Layer_1.lines-layer(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='400px', height='140px', viewbox='0 0 416.573 169.187', enable-background='new 0 0 416.573 169.187', xml:space='preserve')
                            g
                                g
                                    g
                                        polygon.poly.poly-small(fill="transparent", points='383.545,37.045 208.924,37.045 208.924,35.462 382.85,35.462 415.407,0 416.573,1.07' , stroke-dasharray="500" ,stroke-dashoffset="500")
                                    g
                                        circle.circlo(cx='208.924', cy='36.254', r='5')
                                g
                                    g
                                        polygon.poly.poly-big(fill="transparent", points='1.131,169.187 0,168.077 150.799,14.351 285.786,14.351 285.786,15.934 151.463,15.934',stroke-dasharray="900" ,stroke-dashoffset="900")
                                    g
                                        circle.circlo(cx='285.786', cy='15.142', r='5') 
                    when 'left'
                        svg#Layer_1.lines-layer(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='400px', height='140px', viewbox='0 0 415.442 168.116', enable-background='new 0 0 415.442 168.116', xml:space='preserve')
                            g
                                g
                                    g
                                        polygon.poly.poly-small(fill='transparent', points='33.027,35.975 207.648,35.975 207.648,34.393 33.724,34.393 1.166,-1.07 0,0 ', stroke-dasharray="500" ,stroke-dashoffset="500")
                                    g
                                        circle.circlo(cx='207.649', cy='35.184', r='5')
                                g
                                    g
                                        polygon.poly.poly-big(fill='transparent', points='415.442,168.116 416.573,167.007 265.774,13.28 130.788,13.28 130.788,14.863 265.11,14.863',stroke-dasharray="900" ,stroke-dashoffset="900")
                                    g
                                        circle.circlo( cx='130.788', cy='14.071', r='5')

                case key 
                    when 0
                        img.vector-layer(src=require(`../images/services/${person}-vector${feature.imageIndex}.png`), alt="demonstrating-vector-layer")
                        - break 
                    default 
                        img.vector-layer.vector-layer-wow(src=require(`../images/services/${person}-vector${feature.imageIndex}.png`), alt="demonstrating-vector-layer" , data-wow-duration = vectorLayerDuration)
                
                // / ENFORCE INLINE-STYLE WHEN TITLE IS SO LONG
                if feature.title.length >= 20
                    h3.head-layer(style={[feature.class]: '12%'}) #{feature.title}
                else 
                    h3.head-layer #{feature.title}


                // / ENFORCE INLINE-STYLE WHEN PARA IS SMALL
                - let paraLength = feature.para.length; 
                - let enforceCss = null;
                if paraLength > 200 && paraLength <= 210
                    - enforceCss = "45%";
                else if paraLength > 210 && paraLength <= 240
                    - enforceCss = "40%";

                case key 
                    when 0
                        p.text-layer(style={bottom: enforceCss}) #{feature.para}
                        - break  
                    default
                        p.text-layer.text-layer-wow(style={bottom: enforceCss} data-wow-duration=textLayerDuration) #{feature.para}
    
    
    section#strategy.final-showcase.col-md-12
        .row 
            .person.col-md-3.col-md-offset-2
                img.img-responsive(src=require(`../images/services/${person}.png`), alt=`${person}`)
            .person-message.col-md-5.col-md-offset-1.text-center
                h4.text-capitalize 
                if true
                    button#get-in-action.service-btn(style=`background-color : ${mainColor} ; border-color : ${mainColor}`) #{personMessage}

    .clearfix
include ./commons/footer.pug
