// Footer
footer.col-md-12
    .three-columns
        h2.column-heading
            span
                span.main-font G
                | et to know Us
        ul
            li
                a(href='/about', data-navigo) About Us
            li
                a(href='/portfolio', data-navigo) Portfolio
    .three-columns
        h2.column-heading
            span Services
        ul
            li
                a(href='/service/development', data-navigo) Development
            li
                a(href='/service/strategy', data-navigo) Strategy
            li
                a(href='/service/designing', data-navigo) Designing
            li
                a(href='/service/digital-marketing', data-navigo) Digital Marketing
    .three-columns
        h2.column-heading
            span Need help
        ul
            li
                a(href='/contact-us' data-navigo) Contact Us
            li#social-links
                a(href='https://www.facebook.com/CraftedInternet/', target='_blank')
                    img(src= require('../../images/facebook.png') alt='Facebook')
                a#behance(href='https://www.behance.net/info5df9f167', target='_blank')
                    img(src=require('../../images/behance.png') alt='Behance')
    .clearfix
    #copyrights
        small @2021 Crafted-internet. All rights reserved.
// / Footer