//header
header
    div#header-brand-wrapper
        img#header-brand(src=require("../../images/logo-white.png"))
    //menu Items
    nav
        ul
            li.header-link.active-link  
                a(data-href="office" class="x") Home
            li.header-link
                a(data-href="about"  class="x") About Us   
            
            /// DISABLED  THIS LINK IN HOME PAGE
            li#return-home.half-header
                a(href="javascript:void(0)")
                    i.fa.fa-home.fa-lg(aria-hidden="true")


            li.header--li-dropdown-con.header-link.half-header#xs
                a#services-trigger(class="x") services
                ul#header-drop.header--ul-dropdown-menu 
                    li 
                        a(href="/service/development" data-navigo) Development
                    li 
                        a(href="/service/strategy" data-navigo) Strategy
                    li 
                        a(href="/service/designing" data-navigo ) Designing
                    li 
                        a(href="/service/digital-marketing" data-navigo) digital marketing
            li.header-link
                a(data-href="partners", class='x') partners
            li.header-link
                a(data-href="portfolio" class="x") portfolio    
            li.header-link
                a(data-href="contact-us", class="x")  Contact Us
