div#fixed-logo(style="display: block;")
    img(src=require("../../images/logo.png") alt="Crafted")

canvas#preloader


script.
    var preLoader = document.querySelector("#preloader");
    var ctx = preLoader.getContext("2d");

    resize();

    window.onresize = function () {
        resize();
    };

    function resize() {
        //making the canvas full screen
        preLoader.height = window.innerHeight;
        preLoader.width = window.innerWidth;
    }

    //words characters - taken from the unicode charset
    var words = "QAZWSXEDCRFVTGBYHNUJMIKOLP1234567890";
    //converting the string into an array of single characters
    words = words.split("");

    var font_size = 10;
    var columns = preLoader.width/font_size; //number of columns for the rain
    //an array of drops - one per column
    var drops = [];
    //x below is the x coordinate
    //1 = y co-ordinate of the drop(same for every drop initially)
    for(var x = 0; x < columns; x++) {
        drops[x] = 1;
    }

    //drawing the characters
    function draw() {
        //Black BG for the canvas
        //translucent BG to show trail
        ctx.fillStyle = "rgba(0, 0, 0, 0.08)";
        ctx.fillRect(0, 0, preLoader.width, preLoader.height);

        ctx.fillStyle = "#eee"; //gray text
        ctx.font = font_size + "px arial";

        //looping over drops
        for(var i = 0; i < drops.length; i++) {
            //a random words character to print
            var text = words[Math.floor(Math.random()*words.length)];
            //x = i*font_size, y = value of drops[i]*font_size
            ctx.fillText(text, i*font_size, drops[i]*font_size);

            //sending the drop back to the top randomly after it has crossed the screen
            //adding a randomness to the reset to make the drops scattered on the Y axis
            if(drops[i]*font_size > preLoader.height && Math.random() > 0.975) {
                drops[i] = 0;
            }

            //incrementing Y coordinate
            drops[i]++;
        }
    }

    var matrixLoop = setInterval(draw, 33);
