// Importing Needed Main Styles
@import 'partials/_office.scss';
@import 'partials/_about.scss';
@import 'partials/_partners.scss';
@import 'partials/_contact.scss';
.page_1_home {

    #preloader {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 1.5s ease-in-out;
        z-index: 10;
    }

    
   
    .section-block {
        width: 100vw ;  
        overflow: hidden;
        opacity: .9;
        @include transition(all .8s ease-in-out);
        &.active-section {
            z-index: 10;
            opacity: 1;
        }
    }
    .scale-in {
        @include transform(scaleX(1.1));
    }
    .scale-out {
        @include transform(scaleX(1));
    }
    #contact-us {
        overflow: hidden;
    }

}