html {
    font-size: 62.5%;
}


$service-feature-height: 50 ; // REM
$service-feature-width: 100% ;

$service-backgroundLayer-height: 38; // REM
$service-backgroundLayer-width: 75% ;
$service-backgroundLayer-start: 0% ;
$service-backgroundLayer-end: $service-feature-width - $service-backgroundLayer-width ;
$service-backgroundLayer-vertical-positon : ($service-feature-height - $service-backgroundLayer-height) / 2; 



$svg-lines-layer-start: ($service-feature-width - $service-backgroundLayer-end) - 27% ; //45% ;
$svg-lines-layer-vertical-position : ($service-backgroundLayer-vertical-positon / 2 ) / 2; 


$service-vectorLayer-height :  $service-backgroundLayer-height  / 1.70; //default = 1.80 
$service-vectorLayer-width : $service-backgroundLayer-width / 3.8 ; //default = 3.4% 
$service-vectorlayer-horizontal-position : $service-backgroundLayer-width - 25% ; //default = 28%
$service-vectorLayer-vertical-position : ($service-feature-height - $service-vectorLayer-height) / 2 ;









%background-layer {
    position: absolute ;
    top: rem($service-backgroundLayer-vertical-positon)  ;
    height: rem($service-backgroundLayer-height) ;
    width: $service-backgroundLayer-width ;
    z-index: 1 ;
}

%right-background-layer {
    @extend %background-layer ;
    right: $service-backgroundLayer-start ;
}

%left-background-layer {
    @extend %background-layer;
    left: $service-backgroundLayer-start ;
}




%svg-lines-layer {
    position: absolute ;
    top: rem($svg-lines-layer-vertical-position) ;
    z-index: 2 ;    
    .poly {
        stroke-width: 1;
        stroke-miterlimit: 1;        
    }
    .circlo {
        opacity: 0 ;
    }
}

%left-svg-lines-layer {
    @extend %svg-lines-layer ;
    left: $svg-lines-layer-start ;
    @include resMin(2k) {
        left: ($svg-lines-layer-start + 3.5%);
    }
}

%right-svg-lines-layer {
    @extend %svg-lines-layer ;
    right: $svg-lines-layer-start ; 
    @include resMin(2k) {
        right: ($svg-lines-layer-start + 3.5%)
    }
}

@keyframes dash-small {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-big {
    from {
        stroke-dashoffset: 900;        
    }
    to {
        stroke-dashoffset: 0 ;
    }
}

@keyframes circo {
    from {
        opacity: 0 ;
    }
    to {
        opacity: 1 ;
    }
}

%vector-layer {
    position: absolute ;
    width: $service-vectorLayer-width ;
    top: rem($service-vectorLayer-vertical-position) ;
    height: rem($service-vectorLayer-height);
    z-index: 2;
}

%right-vector-layer {
    @extend %vector-layer ;
    right: $service-vectorlayer-horizontal-position ;
}
%left-vector-layer {
    @extend %vector-layer ;
    left: $service-vectorlayer-horizontal-position ;
}



%head-layer {
    font-size: converter(2.8 , rem , perc) ;
    font-weight: $bolder ;
    font-family: $primary-font ;
    text-transform: uppercase ;
    position: absolute ;
    padding-top: 1rem ;
    height: 4rem ;
    top: 5rem ;
}

%right-head-layer {
    @extend %head-layer ;
    right: percentage((70 - 26) / 2 / 100) ;
}

%left-head-layer {
    @extend %head-layer ;
    left: 4% ;
}


%text-layer {
    color: $white ;
    font-size: converter(1.7 , rem , perc) ;
    font-weight: 800 ;
    font-family: opensansbold ;
    text-transform: capitalize ;
    position: absolute ;
    width: 40% ;
    z-index: 3 ;
    bottom: 35% ;
}

%right-text-layer {
    @extend %text-layer ;
    right: 2% ;
}
%left-text-layer {
    @extend %text-layer ;
    left: 4% ;
}

.page_2_services {
    background: $white ;
    header {
        height: 45px;
        opacity: 0.3;
        @include transition(all 0.3s linear);
    }
    header:hover {
        opacity: 1;
        height: 53px;
    }
    .page-id {
        display: block;
        height: 19rem;
        width: 100%;
        .page-id-background {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            &.developer {
                background: transparent url('../images/services/developer-header.png')no-repeat center center;
                background-size: 100% 110%;
            }
            &.marketeer {
                background: transparent url('../images/services/marketeer-header.png')no-repeat center center;
                background-size: 100% 100%;
            }
            &.creator {
                background: transparent url('../images/services/creator-header.png')no-repeat center center;
                background-size: 100% 100%;
            }
            &.digital {
                background: transparent url('../images/services/digital-header.png')no-repeat center center;
                background-size: 100% 100%;
            }
        }
        h1 {
            position: absolute;
            top: 6rem;
            left: 20%;
            width: 100%;
            z-index: 2;
            color: $white;
            font-size: converter(3.4, rem, perc);
            font-family: $primary-font;
            font-weight: $semi-bold;
            text-transform: capitalize;
            letter-spacing: 2px;
            @include transform(scale(1.2,
            1.3));
            img {
                height: 5rem;
                width: 5rem;
                display: inline-block;
                margin-left: 2%;
            }
        }
    }
    .page-intro {
        height: 9rem;
        padding-top: 2rem;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: converter(5, rem, perc);
            font-weight: $medium;
            font-family: $primary-font;
            word-spacing: 2rem;
        }
    }
    #features {
        .feature {
            min-height: 50rem;
            max-height: 55rem;
            padding: 1.5rem;
            display: block;
            position: relative;
            @include no-padding(vert);
            &.right {
                .background-layer {
                    @extend %right-background-layer;
                }
                .lines-layer {
                    @extend %right-svg-lines-layer ;
                }
                .vector-layer {
                    @extend %right-vector-layer;
                }
                .head-layer {
                    @extend %right-head-layer;
                }
                .text-layer {
                    @extend %right-text-layer;
                }
            }
            &.left {
                .background-layer {
                    @extend %left-background-layer;
                }
                .lines-layer {
                    @extend %left-svg-lines-layer ;
                }
                .vector-layer {
                    @extend %left-vector-layer;
                }
                .head-layer {
                    @extend %left-head-layer;
                }
                .text-layer {
                    @extend %left-text-layer;
                }

                &:hover .overlay {
                    left: 70% ;
                }
                &:hover .overlay-two {
                    top: 30% ;
                    left: 75% ;
                }
            }
        }
    }
    footer {
        margin-top: 0.1rem;
        background: black;
    }
    .final-showcase {
        margin-top: 3rem;
        .person-message {
            padding-top: 10rem;
            h4 {
                height: rem(3.8);
                font-size: converter(3.2, rem, perc);
                font-weight: $bolder;
                font-family: $secondary-font;
                text-transform: capitalize;
            }
        }
        .interact-btn {
            font-size: converter(2.5, rem, perc);
            font-weight: $bolder;
            font-family: $primary-font;
            width: 30rem;
            margin-top: 3rem;
            @include no-padding(all);
            @include border-radius(0.3rem);
            i {
                background: fade-out($black, 0.5);
                float: left;
                font-size: converter(1.1, rem, perc);
                padding: 1rem 0.8rem;
                margin-right: 1px solid #eee;
            }
        }
    }
  
}