//Importing Components Styles
@import 'components/_base.scss';
@import 'components/_helpers.scss';
@import 'components/_extends.scss';
@import 'components/_classes.scss';
@import 'components/_buttons.scss';


// Importing Commons Style 
@import 'commons/_header.scss';
@import 'commons/_loader.scss';
@import 'commons/_footer.scss';

@import "home";
@import "services";


.arrows-down-wrapper {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 52px);
    z-index: 12000;
    display: none;
    height: 50px;
    width: 40px;
    cursor: pointer;
    animation: arrow 2s infinite;
}
.arrows-down-wrapper img {
    width: 100px;
}
@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}